<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>我的第一個網頁</title>   
</head>
<body>
    <h3>網頁的主畫面</h3>
    <form action="/caculate" method="get">
        數字<input type="text" name="max" />
        <button>計算結果</button>
    </form>
    <hr/>
    <!-- action 代表使用者點擊 button 後，會導向哪個網址-->
    <form action="/show" method="post">
        姓名<input type="text" name="name" />
        <button>點擊送出表單</button>
    </form>
    <a href="/page">連結到另一個網頁</a>
    <br/>
    <img src="/predactor.jpg" width="600" height="400">
</body>
</html>
